
.buttons{
    text-align: center;
   

}

.action-btn{
    background-color: rgb(77, 77, 234);
    color: white;
    padding: 14px 16px;
    font-family: inherit;
    font-size: 16px;
    border: none;
    outline : none;
    cursor: pointer;
    margin: 10px;
    border-radius:  10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.action-btn:hover{
    background-color: lightblue;
    color: black;
}

.car-list{
    list-style: none;
    padding: 0;
}

.car-item{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.car-item span{
    font-weight: 500;
    color: Black;
    flex: 1;

}   

.remove-btn{
    background-color: red;
    color: white;
    padding : 14px 16px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-btn:hover{
    background-color: #dc3545;
    color: black;
    cursor: pointer;
}

.input-group{
    display: flex ;
    gap: 10;
    margin-bottom: 10px;
}
.input-group input{
    flex: 1;
    padding: 10px;  
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}
.input-group button{
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}   

.input-group button:hover{
    background-color: #218838;
}

.empty-garage{
    text-align: center;
    color: grey;
    font-size: 18px;
    margin-top: 20px;
}

.widgets {
    max-width: 600px;
    margin: 30px auto;
    padding: 10px;
}
.widget {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.widget h2 {
    margin-top: 0;
    color: #333;
}

